/* Real code starts here*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

/* constants */
:root {
    --primary-color: #f1faee;
    --foundal-color: #e63946;
    --secondary-color: #a8dadc;
    --background-color: #1d3557;
    --secondarybackground-color: #264672;
}

html {
    scroll-behavior: smooth;
}

/* Dark Mode propeties*/
body {
    font-family: "Montserrat",
        Arial,
        sans-serif;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0px 10px 10px 10px;
    color: var(--primary-color);
}

/* Header start*/
h1 {
    width: 22ch;
    animation: typing 2s steps(22),
        blink .5s step-end infinite alternate;
    white-space: pre;
    overflow: hidden;
    border-right: 5px solid;
    font-family: "Montserrat";
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

header {
    padding-left: 1%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    z-index: 99;
    align-content: center;
    flex-flow: row wrap;
    position: sticky;
    top: 0;
    background-color: black;
    border-radius: 30px;
}


.header_menu {
    padding-left: 1%;
    height: max-content;
    flex-grow: 1;

}

.header_title {
    height: max-content;
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
}

.btn_menu {
    font-size: 12px;
    padding: 1.3em 3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: black;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
    border: none;
}

.btn_menu:hover {
    background-color: var(--secondary-color);
    color: black;
    transform: translateY(-7px);
}

.btn_menu:active {
    transform: translateY(-1px);
}

/* Header end */
/* Nav start */
nav {
    text-align: center;
    border-bottom: #f1faee solid 2px;
    transform: rotate(-2deg);
    width: 55%;
}

.nav_cont {
    margin-top: 7%;
    /* display: flex; */
    /* justify-content: center;
    flex-flow: row wrap; */
    /* gap: 35px; */
}

.nav_a {
    margin: 0.8em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: var(--secondary-color) solid 5px;
    color: var(--primary-color);
    -webkit-box-shadow: -4px 7px 4px 0px rgba(0, 0, 0, 0.52);
    box-shadow: -4px 7px 4px 0px rgba(0, 0, 0, 0.52);
}

.nav_a:hover {
    background-color: var(--foundal-color);
    border: var(--foundal-color) solid 5px;
    transform: translateY(-7px);
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
    color: black;
    font-weight: bold;
}

.nav_cta {
    padding-right: 7%;
    margin-bottom: 10%;
    transform: rotate(5deg);
    text-align: right;
}

.nav_cta h2 {
    font-size: 45px;

}

.nav_cta h3 {
    font-size: 25px;
}

.highlight {
    background: linear-gradient(120deg, #ff0004 0%, #ff0004 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
}

/* Nav end */
/* MAIN start */
main {
    padding: 3%;
    background-color: var(--secondarybackground-color);
    border-radius: 15px;
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    counter-reset: section;
}

/* Inicio start*/
.main_inicio {
    background-color: #1d3557;
    border-radius: 15px;
    display: grid;
    width: 100%;
    /* background-color: red; */
    padding: 3%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
}

.inicio_h3 {
    font-size: xx-large;
    text-align: justify;
}

.inicio_p_1 {
    text-align: start;
    padding: 5%;
    border-left: var(--secondary-color) 6px solid;
    font-size: larger;
}


.inicio_p_2 {
    border-top: var(--secondary-color) 6px solid;
    border-right: var(--secondary-color) 6px solid;
    border-bottom: var(--secondary-color) 6px solid;
    padding: 5%;
    text-align: end;
}

.inicio_p_3 {
    margin-right: 50%;
    padding: 5%;
    text-align: start;
    border-left: var(--secondary-color) 6px solid;

}

.inicio_p_4 {
    padding: 5%;
    border-right: var(--secondary-color) 6px solid;
    border-top: var(--secondary-color) 6px solid;
    text-align: end;
}

.inicio_p_1::before {
    counter-increment: section;
    content: counter(section);
}

.inicio_p_2::before {
    counter-increment: section;
    content: counter(section);
}

.inicio_p_3::before {
    counter-increment: section;
    content: counter(section);
}

.inicio_p_4::before {
    counter-increment: section;
    content: counter(section);
}

/* Inicio end */
/* MAIN end */